body
{
    background-color: grey;
    background-image: url(img/mushroom_field.png);
    background-repeat: repeat;
    font-family: "josefin";
}

@font-face {
    font-family: josefin;
    src: url(font/JosefinSans-Medium.ttf);
}

#main_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#main_grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.grid_element
{
    border: none;
    border-radius: 20%;
    background-color: #2c9631;
    width: 4em;
    height: 4em;
}

@media only screen and (max-width: 576px) 
{
    .grid_element
    {
        width: 3em;
        height: 3em;
    }
    .text_UI
    {
    margin: 0px 5px !important;
    }
}

.animateNothing
{
    animation-name: animateNothing;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: perspective(1000px) rotateY(180deg);
}

.animateGolden
{
    animation-name: animateGolden;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: perspective(1000px) rotateY(180deg);
}

.animateShield
{
    animation-name: animateShield;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: perspective(1000px) rotateY(180deg);
}

.animatePoison
{
    animation-name: animatePoison;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: perspective(1000px) rotateY(180deg);
}

.animateNothing_full
{
    animation-play-state: running;
    animation-name: animateNothing_full;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: perspective(1000px) rotateY(180deg);
}

.animateGolden_full
{
    animation-play-state: running;
    animation-name: animateGolden_full;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: perspective(1000px) rotateY(180deg);
}

.animateShield_full
{
    animation-play-state: running;
    animation-name: animateShield_full;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: perspective(1000px) rotateY(180deg);
}

.animatePoison_full
{
    animation-play-state: running;
    animation-name: animatePoison_full;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: perspective(1000px) rotateY(180deg);
}

.animateNothing_radar
{
    animation-play-state: running;
    animation-name: animateNothing_radar;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transform: perspective(1000px) rotateY(180deg);
}

.animateGolden_radar
{
    animation-play-state: running;
    animation-name: animateGolden_radar;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transform: perspective(1000px) rotateY(180deg);
}

.animateShield_radar
{
    animation-play-state: running;
    animation-name: animateShield_radar;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transform: perspective(1000px) rotateY(180deg);
}

.animatePoison_radar
{
    animation-play-state: running;
    animation-name: animatePoison_radar;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transform: perspective(1000px) rotateY(180deg);
}

.opacityReduced
{
    opacity: 0.6;
}

@keyframes animateNothing {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(180deg);
        content:url(img/mushroom_nothing.png);
    }
}

@keyframes animateGolden {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(180deg);
        content:url(img/mushroom_golden.png);
    }
}

@keyframes animateShield {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(180deg);
        content:url(img/mushroom_shield.png);
    }
}

@keyframes animatePoison {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(180deg);
        content:url(img/mushroom_poison.png);
    }
}

@keyframes animateNothing_full {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    50% {
        transform: perspective(1000px) rotateY(180deg);
        content:url(img/mushroom_nothing.png);
    }
    100% {
        transform: perspective(1000px) rotateY(0deg);
    }
}

@keyframes animateGolden_full {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    50% {
        transform: perspective(1000px) rotateY(180deg);
        content:url(img/mushroom_golden.png);
    }
    100% {
        transform: perspective(1000px) rotateY(0deg);
    }
}

@keyframes animateShield_full {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    50% {
        transform: perspective(1000px) rotateY(180deg);
        content:url(img/mushroom_shield.png);
    }
    100% {
        transform: perspective(1000px) rotateY(0deg);
    }
}

@keyframes animatePoison_full {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    50% {
        transform: perspective(1000px) rotateY(180deg);
        content:url(img/mushroom_poison.png);
    }
    100% {
        transform: perspective(1000px) rotateY(0deg);
    }
}

@keyframes animateNothing_radar {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    10% {
        transform: perspective(1000px) rotateY(180deg);
        content:url(img/mushroom_nothing.png);
    }
    90% {
        transform: perspective(1000px) rotateY(180deg);
        content:url(img/mushroom_nothing.png);
    }
    100% {
        transform: perspective(1000px) rotateY(0deg);
    }
}

@keyframes animateGolden_radar {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    10% {
        transform: perspective(1000px) rotateY(180deg);
        content:url(img/mushroom_golden.png);
    }
    90% {
        transform: perspective(1000px) rotateY(180deg);
        content:url(img/mushroom_golden.png);
    }
    100% {
        transform: perspective(1000px) rotateY(0deg);
    }
}

@keyframes animateShield_radar {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    10% {
        transform: perspective(1000px) rotateY(180deg);
        content:url(img/mushroom_shield.png);
    }
    90% {
        transform: perspective(1000px) rotateY(180deg);
        content:url(img/mushroom_shield.png);
    }
    100% {
        transform: perspective(1000px) rotateY(0deg);
    }
}

@keyframes animatePoison_radar {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    10% {
        transform: perspective(1000px) rotateY(180deg);
        content:url(img/mushroom_poison.png);
    }
    90% {
        transform: perspective(1000px) rotateY(180deg);
        content:url(img/mushroom_poison.png);
    }
    100% {
        transform: perspective(1000px) rotateY(0deg);
    }
}

.ghost
{
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    margin-top: 10%;
}

#main_UI
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    width: 310px;
    /*margin-top: 80px;*/
}

.text_UI
{
    font-size: 30px;
    margin: 5px 5px;
    color: floralwhite;
}

.img_UI_life
{
    width: 45px;
    height: 45px;
    margin: 5px 5px;
}

.img_UI_mushroom
{
    width: 50px;
    height: 50px;
    margin: 0 5px;
}

.set_UI
{
    display: flex;
}

.set_UI_buttons
{
    display: flex;
    flex-direction: column;
    border: none;
}

.side_A
{
    flex-direction: row;
    margin-right: 1em;
}

.side_B
{
    flex-direction: row-reverse;
    margin-left: 1em;
    align-items: center;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

#myModal3
{
    padding-top: 0px !important;
}
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: lightyellow;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 20px;
    font-weight: bold;
    border: none;

  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: forestgreen;
    color: white;
    text-align: center;
  }
  
  .modal-body 
  {
    padding: 2px 16px;
    text-align: center;
  }
  
  .modal-footer {
    padding: 2px 16px;
    background-color: forestgreen;
    color: white;
    text-align: center;
  }

  .memory_nothing
  {
    -webkit-animation-name: memory_nothing;
    -webkit-animation-duration: 1s;
    animation-name: memory_nothing;
    animation-duration: 1s;
  }

  .memory_shield
  {
    -webkit-animation-name: memory_shield;
    -webkit-animation-duration: 1s;
    animation-name: memory_shield;
    animation-duration: 1s
  }

  .memory_poison
  {
    -webkit-animation-name: memory_poison;
    -webkit-animation-duration: 1s;
    animation-name: memory_poison;
    animation-duration: 1s
  }

  .memory_golden
  {
    -webkit-animation-name: memory_golden;
    -webkit-animation-duration: 10s;
    animation-name: memory_golden;
    animation-duration: 10s;
  }

  @keyframes memory {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    50% {
        transform: perspective(1000px) rotateY(180deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

@keyframes memory_nothing {
    0% {
        transform: perspective(1000px) rotateY(0deg);
        content:url(img/question.png);
    }
    50% {
        transform: perspective(1000px) rotateY(180deg);
        content:url(img/mushroom_nothing.png);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
        content:url(img/question.png);
    }
}

@keyframes memory_shield {
    0% {
        transform: perspective(1000px) rotateY(0deg);
        content:url(img/question.png);
    }
    50% {
        transform: perspective(1000px) rotateY(180deg);
        content:url(img/mushroom_shield.png);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
        content:url(img/question.png);
    }
}

@keyframes memory_poison {
    0% {
        transform: perspective(1000px) rotateY(0deg);
        content:url(img/question.png);
    }
    50% {
        transform: perspective(1000px) rotateY(180deg);
        content:url(img/mushroom_poison.png);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
        content:url(img/question.png);
    }
}


@keyframes memory_golden {
    0% {
        transform: perspective(1000px) rotateY(0deg);
        content:url(img/question.png);
    }
    50% {
        transform: perspective(1000px) rotateY(180deg);
        content:url(img/mushroom_golden.png);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
        content:url(img/question.png);
    }
}

.commandButton
{
    width: 300px;
    height: 50px;
    margin: 10px 0px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #349b39;    
    font-size: 20px;
    border: none;

}

.commandButton_mini
{
    width: 150px !important;
    font-size: 20px !important;
    border: none;

}

.selected_element
{
    border: 1px solid #349b39 !important;
}

.no_margin
{
    margin: 0;
}